<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>About</h1></a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
        </p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>All Blogs</h2>
    </div>
  </body>
</html>
